@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  padding: 15px;
  height: 60px;
  background-color: #2699FB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tlal {
  color: white;
  font-size: 1.5rem;
}

.login-signup {
  float: right;
  padding: 20px 0;
}
.navbar a {
  margin: 0 8px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: normal;
}

.navbar a:hover {
  color: #466bcb;
}
/* .suggestion-list { */
  /* padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  width: 500px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #4CAF50;
} */
.suggestion-list-entry {
  margin-bottom: 10px;
}
.suggestion-list-entry a {
  text-decoration: none;
}

.image-list-entry {
  font-size: 16px;
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid #ccc;
}
.forecast {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 35px;
  text-align: right;
}
.image-list-entry-title {
  font-weight: bold;
}

.image-list-entry-title:hover {
  color: #77adbe;
  cursor: pointer;
}

.image-list-entry-detail {
  font-size: 12px;
  color: #999;
}
form {
  margin: 0 auto;
  text-align: center;
}
form h1 {
  font-family: serif;
  color: #4a4a4a;
}
input[type=text], select {
    width: 34%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

input[type=submit]:hover {
    background-color: #45a049;
}

.hero-form .hero-input {
  width: 60%;
}

.form-wrapper {
  position: absolute;
  width: 500px;
  left: 580px;
  top: 425px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: 1px solid #4CAF50;;
  border-radius: 5px;
  padding-bottom: 25px;
}

.form-wrapper input[type=text] {
  width: 60%;
}


.add-friend-btn, .comment-input {
  display: block !important;
  margin: 0 auto !important;
}

.form-wrapper .comment-input {
  width: 80% !important;
}

.add-friend-btn {
  width: 25% !important;
}

.google-map {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #4CAF50;
  flex: 2;
}
.map-marker-element {
  display: inline;
}

.map-marker-text {
  color: blue;
  text-shadow: 1px 1px white;
  white-space: nowrap;
}



/* ========================================= */
/* Explore */
/* ========================================= */

.search-input-wrap {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-form-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.explore-submit-form-button {
  margin-left: 40px;
}


.hero-form {
  width: 70%;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
}

.hero-form h1 {
  color: #466bcb;
  text-align: center;
  font-size: 2.5rem;
}